.paper {
    margin-top: 80px;
    display: "flex";
    flex-direction: "column";
    align-items: "center";
  }
  
  .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form {
    width: "100%";
    margin-top: 10px;
  }
  
  .submit {
    margin: 30px,
  }